.recipes-container {
  display: flex;
  flex-wrap: wrap;
}

header {
  text-align: center;
  color: var(--color-text);
  text-shadow: var(--shadow-md);
  font-family: var(--font-alt);
  font-size: 150%;
  margin: 2rem;
}

.container {
  background: var(--color-bg);
  min-height: 85vh;
  padding: 1rem;
  margin: 1rem;
}

.recipe {
  background-color: #B2AC88;
  box-shadow: var(--shadow-sm);
  text-align: center;
  padding: 0.5rem;
  margin: 1rem;
  height: auto;
  width: 100%;
}

/* Tablets Portrait */
/*@media (min-width: 600px) {

}*/

/* Tablets Landscape */
@media(min-width: 768px) {
  .container {
    margin: 1.5rem 1rem 1.5rem 1rem;
  }

  .recipes-container {
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 4rem) / 3));
    gap: 2rem;
    box-sizing: border-box;
/*    Each Item is only as tall as ITS content- regardless of neighbours*/
    align-items: start;
  }

  .recipe {
    max-height: 100%;
    padding: 0.5rem;
    margin: 0;
    box-sizing: border-box;
  }
}

/* Desktop */
/*@media (min-width: 992px) {

}*/
