<div class="header_container">
  <div class="header_inner">
    <div class="header_logo">
      <a [routerLink]="['/Home']">
        <img src="/RecipeAppLogo.gif" alt="Ramen Logo" height="80px" />
      </a>
    </div>
    <div class="header_desktop">
      <ul class="header_links">
        <li>
          <a [routerLink]="['/Recipe-List']">
            Browse Recipes
          </a>
        </li>
        <li>
          <a [routerLink]="['/Recipe-List']">
            Upload Recipe
          </a>
        </li>
        <li>
          <a [routerLink]="['/Recipe-List']">
            Upload Ingredient(s)
          </a>
        </li>
        <li>
          <a [routerLink]="['/Recipe-List']">
            Create New Tag
          </a>
        </li>
      </ul>
    </div>
    <div class="header_mobile">

    </div>
  </div>
</div>
