.container {
  background: var(--color-bg);
  box-shadow: var(--shadow-md);
  min-height: 85vh;
  padding: 2rem;
  margin: 1rem;
}

.container-outer {
  background-color: var(--color-alt-bg);
  box-sizing: border-box;
  box-shadow: var(--shadow-sm);
  text-align: center;
  padding: 0.5rem;
  margin: 1rem;
  width: 100%;
}

.container-inner {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--color-bg);
  background-color: var(--color-text);
}

h2, h3 {
  margin: 0;
  font-family: var(--font-unkempt);
}

header {
    margin: 2rem;
    padding: 1rem;
    border-bottom: 2px solid var(--color-alt-bg);
}

main {
    padding: 1rem;
    border: 1px solid var(--color-alt-text);
}

.group {
    display: flex;
    flex-direction: column;
}

.item {
  overflow-x: auto;
  white-space: nowrap;
}

p {
    display: inline-block;
}

.action_buttons {
    display: flex;
    flex-direction: column;
}

.action_button, button {
  text-align: center;
  border: none;
  background-color: var(--color-alt-text);
  border-radius: 5px;
  box-shadow: 0 0 5px 5px var(--color-alt-text);
  color: var(--color-text);
  font-size: 17px;
  font-family: "Caveat", cursive;
  font-size: 20px;
  text-shadow: var(--shadow-sm);
  margin: 1rem;
  padding: 0.5rem;
}

  .action_button:hover, button:hover {
    background-color: #b2b2b2b6;
  }

  .info-header {
      margin: 1rem;
  }

footer {
  margin: 1rem auto;
}

input {
    margin: 0.5rem;
    padding: 0.5rem;
}

.error-list {
  list-style-type: none;
  text-align: start;
  margin: 1rem 0 0 0;
  padding: 0 0 0 0.5rem;
  width: 100%;
  color: #ce1a1a;
}

.error-message {
  width: 100%;
  color: #ce1a1a;
}

.invalid {
  border: 1px solid #ce1a1a;
  background-color: #ffc1c1;
}


.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(43, 33, 16, 0.45);
  z-index: 150;
}

.modal-inner {
    display: flex;
    flex-direction: column;
    background: white;
    min-width: 25%;
    min-height: 25%;
    box-shadow: var(--shadow-md);
    padding: 3rem;
    margin: 1rem;
}

.modal-title {
    border-bottom: 1px solid grey;
    font-family: var(--font-unkempt);
}

.modal-body {
  padding: 2rem;
  margin-top: auto;
}

.modal-buttons {
    margin-top: auto;
}

.edit-names {
  display: flex;
  flex-direction: column;
}

@media(min-width: 768px) {
  .container-outer {
    background-color: var(--color-alt-bg);
    box-sizing: border-box;
    box-shadow: var(--shadow-sm);
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
    width: 60%;
    margin: auto;
  }

  .container-inner {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--color-bg);
    background-color: var(--color-text);
  }

  .group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  main {
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    border: 1px solid var(--color-alt-text);
  }

  .item {
    margin: 0 3rem;
  }
}
