:root {
  --color-bg: #c4846c;
  --color-bg-transparent: #c4846c3e;
  --color-text: #ffffffef;
  --color-alt-text: #B2AC88;
  --font-unkempt: 'Unkempt';
  --font-alt: 'Caveat';
  --header-height: 3rem;
  /*  --header-background: #ad6a49;*/
  --header-background: #B2AC88;
  --shadow-sm: 1px 1px 5px rgba(0, 0, 0);
  --shadow-md: 2px 2px 5px rgba(0, 0, 0);
}

html {
  background-color: white;
  scroll-behavior: smooth;
}

html, body {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}
